.state-inactive,
.state-cancelled {
    color: red !important;
}

.state-planned,
.state-pending_registration,
.state-pending_transfer_in,
.state-pending_transfer_out {
    color: #FFA500 !important;
}

.state-active,
.state-registered {
    color: #436976 !important;
}

.actionMenu .state-inactive,
.actionMenu .state-cancelled {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    padding: 0 0.5em;

    background-color: red;
    border: 0.1em solid red;
    color: #FFF !important;
}

.actionMenu .state-planned,
.actionMenu .state-pending_registration,
.actionMenu .state-pending_transfer_in,
.actionMenu .state-pending_transfer_out {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    padding: 0 0.5em;

    background-color: #FFA500;
    border: 0.1em solid #FFA500;
    color: #FFF !important;
}

.actionMenu .state-active,
.actionMenu .state-registered {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    padding: 0 0.5em;

    background-color: #436976;
    border: 0.1em solid #436976;
    color: #FFF !important;
}
